@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  textarea {
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .metadata {
    margin-top: 1rem;
  }