@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom scrollbar for textareas */
textarea::-webkit-scrollbar {
    width: 6px;
  }
  
  textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }